body {
    margin: 0;
    background-color: black;
    height: 100vh;
    color: white;
}
#container {
    border: 1px solid grey;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-1 {
    background-color: red;
    height: 100px;
    width: 100px;
    transition-property: margin-left, width;
    transition-duration: 2s, 2s;
    transition-timing-function: ease-in-out;
}


.item-1:hover {   
    margin-left: 200px;
    width: 300px;
}


.item-2 {
    background-color: blue;
    height: 100px;
    width: 100px;
    transition-property: margin-left, width;
    transition-duration: 2s, 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1.75s;
}

.item-1:hover~.item-2 {
    margin-left: 200px;
    width: 300px;
}
