
body {
  background-color: #000000;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  
}

.big-box {
  background-color: #2e1dd6;
  display: flex;
  height: auto;
  width: auto;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-basis: 200px;
}

.black-box {
  background-color: #000000;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tiny-box {
  background-color: #2e1dd6;
  height: 5px;
  width: 5px;
  justify-content: space-around;
  align-items: center;
}