body {
    margin: 0px;
    font-family: Helvetica;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
    background-color: #a2cbb6;
    font-size: 20px;
    margin: 0px;
    color: #f3dba8;
  
  }
  
  div {
    margin: 13px 10px;
  }
  
  nav > div:last-child {
    margin-left: auto;
  }